<div id="comments" class="comments" style="margin-top: 50px; padding-top: 30px; border-top: 1px dashed #2d2f39; clear: both; width: 100%;">
    
    <div id="tcomment" style="width: 100%; min-height: 120px;"></div>

</div>

<style>
    .load-comments, 
    #load-comments, 
    .comments + button, 
    .post-footer button, 
    button {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/twikoo/dist/twikoo.all.min.js"></script>
<script>
    twikoo.init({
        envId: '{{ .Site.Params.twikooEnvId }}',
        el: '#tcomment',
    })
</script>