<div id="comments" class="comments" style="margin-top: 50px; padding-top: 30px; border-top: 1px dashed #2d2f39; clear: both; width: 100%;">
    
    <div id="tcomment" style="width: 100%; min-height: 120px;"></div>

</div>

<style>
    .load-comments, 
    #load-comments,
    main > article > footer > button {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }
</style>

<div id="tcomment"></div>
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.6.39/dist/twikoo.all.min.js"></script>
<script>
twikoo.init({
  envId: 'https://twikoo.panzhiyu.xin', // 笔直指向你的阿里云评论大门！
  el: '#tcomment',
})
</script>