{{ define "main" }}
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">{{ .Title }}</h1>
            {{ if .Site.Params.enablePostMeta }}
                {{ partial "post-meta.html" . }}
            {{ end }}
        </header>

        {{ if .Site.Params.enableTOC }}
            {{ partial "toc.html" . }}
        {{ end }}

        <div class="post-body">
            {{ .Content }}
        </div>

        <footer class="post-footer">
            {{ if .Site.Params.enablePostTags }}
                {{ partial "post-tags.html" . }}
            {{ end }}
            
            {{ partial "comments.html" . }}
        </footer>
    </article>
{{ end }}